
* {
    box-sizing: border-box;

}

/* base styles /////////*/
h1,
h2 {
    text-align: center;

}

body {
    font-family: 'Open Sans', sans-serif;
    
    }
 main {
        margin: auto;
    }

  .main-nav a:hover{
      color: blue;
  }  

  .footer-nav a:hover {
    color: blue;

  }

  .bottom-link a:hover {
    color: blue;
  }

 .text {
     color: darkcyan;
 }


/* class selectors  //////*/

.main-nav,
.footer-nav {
    display: block;
    background-color: white;
    text-align: center;
   
    line-height: 2rem;
    
}

.main-nav li,
.footer-nav li {
    text-align: center;
    list-style: none;
    width: 90%;

}


.bottom-name {
    float: left;

}

.bottom-link {
    float: right;

}

.group::after{
    content: "";
    display: table;
    clear: both;

}
/* Media Queries  //////*/

@media (min-width: 320px) {
    
    main {
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    body {
        text-align: center;
        padding: 20px;
    }

    .image {
        width: 90%;
        padding: 20px;
    
    }

    .person {
        padding: 20px 50px;

    }

    .footer {
        text-align: center;
        width: 90%;

    }

    .footer-nav li {
        display: hidden;

    }

}

@media (min-width: 768px){

  
  
  
  
  .person {
    width: 50%;
    float: right;
    margin-bottom: 70px;

  }

  .main-nav li {
 
    display: inline;
    padding: 20px;

  }
  
  
  
    .image {
    width: 100%;

   }

   .marketing,
   .travel,
   .photo,
   .html{
        width: 50%;
        float: left;
     }

   .search,
   .map,
   .calculator,
   .css {
        width: 50%;
        float: right;

   }


 .bottom-link {
    display: none;

 }

 .footer-nav li {
     padding: 20px;
    display: inline;

    

}

.top-row,
.bottom-row {
    height: 400px;
}

}
       

@media (min-width: 1024px){

    .image {
        width: 100%;
    
       }

     .person {
        max-width: 80%;
        text-align: center; 
        margin: auto;
     }

     .top-row{
         width: 33.3%;
         float: left;
        
        
     }

     .bottom-row {
            width: 33.3%;
            float: left;
           

     }

    

       

     .name ,
     .main-nav,
     .main-nav li {
         display: inline;

     }

     .name {
        margin-right: 300px;

     }
     
    

     .bottom-name {
        margin-right: 300px;
       

     }










}









