
* {
    box-sizing: border-box;

}

/* base styles /////////*/


ul {
    padding-left: 0;
}


h1,
h2 {
    text-align: center;

}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px;
    }
 main {
        margin: auto;
        width: 90%;
        padding: 20px;
        text-align: center;
    }

  .main-nav a:hover{
      color: blue;
  }  

  .footer-nav a:hover {
    color: blue;

  }

  .bottom-link a:hover {
    color: blue;
  }

  

 .text {
     color: darkcyan;
 }

 a {
    text-decoration: none;
    color: darkolivegreen;

 }


/* class selectors  //////*/

.main-nav,
.footer-nav {
    display: block;
    background-color: white;
    text-align: center;
   
    line-height: 2rem;
    
}

.main-nav li,
.footer-nav li {
    text-align: center;
    list-style: none;
 

}


.bottom-name {
    float: left;

}

.bottom-link {
    float: right;

}

.group::after{
    content: "";
    display: table;
    clear: both;

}


.person {
    padding: 20px 50px;

}

.footer {
    text-align: center;
    width: 100%;

}

.footer-nav li {
    display: none;

}

.image {
    width: 90%;
    padding: 20px;

}

.person-image {
    width: 90%;
    max-width: 90%;

 }

/* Media Queries  //////*/


@media (min-width: 768px){

  .contact-text {
     text-align: center;
     width: 40%;
     display: inline-block;

  }
  
  
  
 

  .main-nav li {
 
    display: inline;
    padding: 20px;

  }
  
  
  
    .image {
    width: 100%;

   }

   .marketing,
   .travel,
   .photo,
   .html{
        width: 50%;
        float: left;
     }

   .search,
   .map,
   .calculator,
   .css {
        width: 50%;
        float: right;

   }


 .bottom-link {
    display: none;

 }

 .footer-nav li {
     padding: 20px;
    display: inline;

    

}

.top-row,
.bottom-row {
    height: 400px;
}



.person {
    width: 50%;
    float: right;
}


  .footer-nav {
      text-align: right;
  }

  .bottom-name {
      line-height: 0;
  }

}
       
@media (min-width: 1024px) {
    
    .image {
      max-width: 100%;
    }
   
    .person {
      max-width: 80%;
      text-align: center;
    }
   
    .top-row {
      width: 33.3%;
      float: left;
    }
   
    .bottom-row {
      width: 33.3%;
      float: left;
    }
   
    .name,
    .main-nav li {
      display: inline;
    }
    
    .name {
      float: left;
      margin: 0;
      line-height: 1;
    }
   
    .main-nav {
      text-align: right;
    }
  }










